*{
    font-family: 'Bahnschrift', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
body{
  overflow-x: hidden; 
  overflow-y: auto;
background-color: #444; 
}


@media(min-width:768px){
  ::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background-color: #444; 
  border-radius: 6px;
}
}