.div{
    width: 80%;
    border: 1px solid rgb(149, 149, 149);
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    margin: 10px;
    justify-self: center;
}
.buttons{
    display: flex;
    align-items: center;
    background-color: rgb(45, 45, 45);
    padding: 10px;
    h3{
        margin-right: 10px;
    }
     button{
    background-color: rgb(109, 131, 102);

    border: none;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.2s;
    padding: 10px 20px 10px 20px;
   }
   button:hover{
    cursor: pointer;
    transform: translateY(-2.5px);
      box-shadow: 0px 5px 15px -1px #000000;
   }
   button:active{
    background-color: rgb(93, 105, 89);
    transform: translateY(0);
    box-shadow: none;
   }
}